body {
    margin: 0;
}

input {
    width: 200px;
    height: 100px;
    margin: 20px;
    appearance: none;
    background-color: aliceblue;
    border-radius: 50px;
    box-shadow: inset 0px 0px 16px 1px rgba(0, 0, 0, 0.247);
    cursor: pointer;
    transition: 0.4s;
    position: relative;
}

input:checked {
    background-color: rgb(56, 199, 56);
}

input::before {
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.178);
    position: absolute;
    transform: scale(1.1);
    top: 0;
    left: 0;
    transition: 0.3s;
}

input:checked::before {
    left: 100px;
}